# Ignorar todo el contenido generado de ENDES 2019
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/01. Caracteristicas del Hogar/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/02. Caracteristicas de la Vivienda/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/03. Programas Sociales/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/04. Datos Basicos de MEF/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/05. Historia de Nacimiento - Tabla de Conocimiento de Metodo/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/06. Embarazo, Parto, Puerperio y Lactancia/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/07. Inmunizacion y Salud/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/08. Nupcialidad - Fecundidad - Conyugue y Mujer/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/09. Conocimiento de Sida y uso del condon/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/10. Mortalidad Materna - Violencia Familiar/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/11. Peso y talla - Anemia/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/12. Disciplina Infantil/*/
/01. DESARROLLO INFANTIL TEMPRANO en niñas y niños menores de 6 años de edad - ENDES, 2019/13. Encuesta de salud/*/